@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
$dark:#191919;
$light:#f3f3f3;

*{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size:1rem;
    text-align:center;
}
html{
    height:100%;
}
body{
    height:100%;
    background: $light;
    }
h1{
    font-size:2rem;
    color:$dark;
    text-align: center;
}
    p{font-size:0.8rem;
    color:grey;
    text-align: center;
}
#dateOfBirth{
    width:20%;
    min-width:200px;
    height:300px;
    margin:0px auto;
    text-align: center;
}
.input{
    display: block; 
    width:100%;
    min-width:200px;
    height:15%;
    font-size:1rem;
    border:none;
    border-bottom:3px solid $dark;
    background:none;
    outline:none;
    text-align:center;
    line-height:2.5em;
    font-weight:bold;
    color:$dark;
    padding:0px;
}
.inputbox{
    display: block; 
    width:100%;
    min-width:200px;
    height:15%;
    font-size:1rem;
    border:none;
    border-bottom:3px solid light;
    text-align: center;
    background:none;
    outline:none;
    color:$dark;
}
.inputbox:focus{
    font-weight:bold;
}
.inputbox::-webkit-outer-spin-button,
.inputbox::-webkit-inner-spin-button{
    -webkit-appearance:none;
    margin:0;
}
.button{
    width:100%;
    height:10%;
    padding:0px;
    margin-top:5% auto 0px auto;
    color:$light;
    background:$dark;
    border:none;
    min-width:200px;
}
#birthdayResultContainer{
    margin:20px auto;
    text-align: center;
    width:60%;
    min-width:200px;
    line-height: 1.5;
    color:$dark;
    font-weight:bold;
}

#ageResult{
font-size:2rem;
}
#monthsResult{
    font-size:1.5rem;
}
#weeksResult{
    font-size:1.2rem;
}
#daysResult{
    font-size:1rem;
}